.portrait{
    width: 84px;
}

.home{
    display: flex;
    padding-top: 20px;
    justify-content: flex-start;

}

.portrait:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.characters{
    display: flex;
    flex-direction: column;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    width: 169px;
}

.character-text{
    color: white;
    
}
.character-icon{
    width: 168px;
    height: auto;
    transition:opacity 0.5s linear;
}